
#home #icons .motion-on use,
#home #icons .motion-on path
{
  fill:#40ff50 !important;
}

#home #icons .water-on use,
#home #icons .water-on path
{
  fill:#ee1d0e !important;
}


#home #icons .light-on g,
#home #icons .light-on path
{
  fill:#ffee40 !important;
}
